
<body>
  <div class="container-fluid">
    <div class="row">
      {{#each products}}
        <div class="col-12 col-lg-4 my-5">
          <div class="card">
            <img src="{{imgUrl}}" class="card-img-top" alt="{{equipo}}">
            <div class="card-body text-center mb-2 bg-light">
              <h5 class="card-title">{{equipo}}, {{temporada}}</h5>
              <h6 class="card-title">{{marca}}</h6>
              <h6 class="card-title">$ {{precio}}</h6>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</body>